**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta
logs/
/.mixin.out
/saves
/downloads
/resourcepacks
.curseclient
options.txt
journeymap/
usercache.json
usernamecache.json
options.txt
config/
optionsof.txt
imgui.ini
/crash-reports
patchouli_data.json
woot/
screenshots/
optionsshaders.txt
shaderpacks/
server.dat*